<section id="support" class="addendum-format">
  <div class="col-lg-8 col-lg-offset-2 text-center">
    <h2 class="section-heading">Support</h2>
    <hr class="primary">
  </div>

  <ul class="img-list">
    <li>
        <img src="img/portfolio/Anita1.png" class="rounded" alt="Jane" style="width:100%">
        <div class="text-content">
          <p class="tm-name">Chantal Marquart</p>
          <p class="tm-description"> -Storytelling <br> -Research <br> -Coding</p>
        </div>
    </li>
    <li>
        <img src="img/portfolio/Nils1.png" class="rounded" alt="Jane" style="width:100%">
        <div class="text-content">
          <p class="tm-name">Patrik Kess</p>
          <p class="tm-description"> -Storytelling <br> -Statistics <br> -Viz </p>
        </div>
    </li>
  </ul>

</section>
