<section id="portfolio" class="addendum-format">

  <div class="col-lg-8 col-lg-offset-2 text-center">
    <h2 class="section-heading">Team</h2>
    <hr class="primary">
  </div>


<ul class="img-list">
  <li>
      <img src="img/portfolio/Chantal1.png" class="rounded" alt="Jane" style="width:100%">
      <div class="text-content">
        <p class="tm-name">Chantal Marquart</p>
        <p class="tm-description"> -Storytelling <br> -Research <br> -Coding</p>
      </div>
  </li>
  <li>
      <img src="img/portfolio/Pat1.png" class="rounded" alt="Jane" style="width:100%">
      <div class="text-content">
        <p class="tm-name">Patrik Kess</p>
        <p class="tm-description"> -Storytelling <br> -Statistics <br> -Viz </p>
      </div>
  </li>
  <li>
      <img src="img/portfolio/Nat1.png" class="rounded" alt="Jane" style="width:95%">
      <div class="text-content">
        <p class="tm-name">Nathalie Wenger</p>
        <p class="tm-description"> -Storytelling <br> -Interviews <br> -Coding </p>
      </div>
  </li>
  <li>
      <img src="img/portfolio/Luc1.png" class="rounded" alt="Jane" style="width:100%">
      <div class="text-content">
        <p class="tm-name">Lucien Baumgartner</p>
        <p class="tm-description"> -Web Development <br> -Statistics <br> -Viz </p>
      </div>
  </li>
  <li>
      <img src="img/portfolio/Gaby1.png" class="rounded" alt="Jane" style="width:100%">
      <div class="text-content">
        <p class="tm-name">Gabriella Morillo</p>
        <p class="tm-description"> -Organisation <br> -Interviews <br> -Coding </p>
      </div>
  </li>
</ul>


</section>
