
<section class="bg-primary about-format" id="contact">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 text-center">
                <h2 class="section-heading">Contact us!</h2>
                <hr class="light">
                <p class="text-faded">If you have questions or suggestions concerning our project, don't hesitate to contact us.</p>

                <a href="mailto:kenyadataproject@ipz.uzh.ch"><img src='../capstone_webdev/img/icons/envelope.png' width="50px" style="padding:10px;"></img></a>
                <a target="_blank" href="https://github.com/lucienbaumgartner"><img src='../capstone_webdev/img/icons/github.png' width="50px" style="padding:10px"></img></a>

              </div>
        </div>
    </div>


</section>
