<header>
    <div class="header-content">
        <div class="header-content-inner">
            <h1>Shot by the Police</h1>
            <hr>
            <p>In Kenya, human rights violations by the police have become an endemic problem. Over the last decade, Kenya’s security agencies have repeatedly been accused of corruption, complicity with criminals, and violating human rights.
              With the emergence of anti-terror laws in the wake of rising islamist terrorism, these accusations have become even louder. In response, human rights organizations have monitored and documented several hundred cases of enforced disappearances and extrajudicial killings, most of them allegedly disguised as part of anti-terror operations. </p>
            <p>Based on expert interviews and previously unpublished data gathered by Amnesty International Kenya, we investigate the potential systematic targeting by security forces and provide possible explanations for these patterns of violence focusing on the historical distrust between Kenya’s Muslim population and the state, the police’s counter-terrorism approach, and weak accountability structures within the police.</p>

            <!-- <a href="#about" class="btn btn-primary btn-xl page-scroll">Find Out More</a> -->
        </div>
    </div>
</header>
