<header>
    <div class="header-content">
        <div class="header-content-inner">
            <h1>Shot by the Police</h1>
            <hr>
            <p>In Kenya, police violence has become an endemic problem. Over the last decade, Kenya’s security agencies have repeatedly been accused of corruption, complicity with criminals, and even violating human rights.</p>
            <p>With the emergence of anti-terror laws in the wake of the rising islamist terrorism, these accusations have become even louder. In response, human rights organizations have monitored several hundred cases of enforced disappearances and extrajudicial killings, most of them allegedly under the guise of anti-terror operations.</p>
            <p>Based on expert interviews and previously undisclosed data gathered by Amnesty International Kenya, we investigate the potential systematic targeting by security forces and provide possible explanations for these patterns of violence.</p>
            
            <!-- <a href="#about" class="btn btn-primary btn-xl page-scroll">Find Out More</a> -->
        </div>
    </div>
</header>
