<section id="thanks", class="addendum-format">
  <div class="container">
      <div class="row">
      <div class="col-lg-8 col-lg-offset-2 text-center">
          <h2 class="section-heading">Special Thanks to</h2>
          <hr class="primary">
      </div>
      <div class="container text-center" style="max-width:700px;">
        <p>Hassan Abdille,
          Betel Bekele Birhanu,
          Abdullahi Boru Halakhe,
          Mai Hassan,
          Hussein Khalid,
          Hassan Mwakimako,
          Ramadhan Rajab,
          Ursina Wälchli,
          Rebecca Welge</p>
      </div>
      </div>

</div>
</div>
</section>
